@import 'color';
$font: 14px Arial, sans-serif;

html {
    min-height: 100%;
    position: relative;
    font: $font;
}
body {
    color: $font_color;
    margin: 0;
    background-color: $body_bg_color;
}
.header {
    background-color: $header_bg_color;
    border-bottom: 1px solid $border_color;
}

